extends ../shared/template

block content
  h2 New Item

  form(method='post', action='/items')
    input(name='name', type='text', placeholder='iPad', autofocus=true)
    input(name='dimensions[l]', type='number', placeholder='length')
    input(name='dimensions[w]', type='number', placeholder='width')
    input(name='dimensions[h]', type='number', placeholder='height')
    input(name='weight', type='number', placeholder='weight')
    input(name='color', type='color', placeholder='color')
    input(name='quantity', type='number', placeholder='quantity')
    input(name='msrp', type='number', placeholder='msrp')
    input(name='percentOff', type='number', placeholder='percentOff')
    button Add Item to Database

